.fa-envelope {
  color:grey
}

.fa-check {
  color:green;
}

.fa-check-double {
  color:green;
}

.fa-star {
  color: lightgrey
}

th.head {
  text-align: center;
}

.youla-logo:before {
	content: url(web_logo.png);
}

.admonition.important .admonition-title {
  background-color: crimson;
}

.admonition.important {
	background-color:lightsalmon;
}

.sg-preview-button:before {
	content: url(preview_button.gif);
}
